<center><div>
<div name="divDevolucion">
			<h2><center>REALIZAR DEVOLUCION</center></h2>
			<form name="formRealizarDevolucion" ng-submit="realizarDevolucion()">
				<input placeholder="Usuario Administrador" ng-model="userAdmin"></input> <br/>
				<input placeholder="id Objeto" ng-model="idObjeto"></input> <br/>
				<input placeholder="id Usuario" ng-model="idUsuario"></input> <br/>
				<br/>
				<input type="submit" value="Realizar Devolucion"></button>
			</form>
		</div>
		<div name="divObtenerPrestamos">
			<center><h2>PRESTAMOS</h2>
			<center><button class="w3-btn w3-julian" name="cargarPreguntas" ng-click="cargarPreguntas()">Cargar prestamos</button></center>
			<br/>
			<center><table style="width:70%" class="w3-table w3-centered w3-bordered">
				<thead>
			      <tr>
			        <th><center>ID</center></th>
			        <th><center>NOMBRE</center></th>
			      </tr>
			    </thead>
			    <tbody>
					<tr style="width:80%"  >
						<td><center>aqui la info de prestamo</center></td>
					</tr>
				</tbody>
			</table></center>
		</div>
</div></center>>