<div>
	<ul>
	  <li style="width:25%"><button style="width:100%" class="w3-btn w3-julian" id="loginNavBar" ng-click="openLogin()" class="active" >Logearse</button></li>
	  <li style="width:25%"><button style="width:100%" class="w3-btn w3-julian" id="prestamoNavBar" ng-click="openPrestamo()">Realizar Prestamo</button></li>
	  <li style="width:25%"><button  style="width:100%" class="w3-btn w3-julian" id="devolucionNavBar" ng-click="openDevolucion()">Realizar Devolucion</button></li>
	  <li style="width:25%"><button style="width:100%" class="w3-btn w3-julian" id="sancionesNavBar" ng-click="openSanciones()">Sanciones</button></li>
	</ul>
</div>
