<center><div>
<div name="divAgregarPrestamo">
			<h2><center>AÑADIR NUEVO PRESTAMO</center></h2>
			<form class="form2" name="formAgregarPregunta" ng-submit="realizarPrestamo()">
				<input placeholder="Usuario" ng-model="username"></input> <br/>
				<input placeholder="id Objeto" ng-model="idObjeto"></input> <br/>
				<br/>
				<input type="submit" value="Realizar Prestamo"></button>
			</form>
		</div>
		<div name="divEliminarPregunta">
			<center><h2>OBJETOS DISPONIBLES</h2>
			<br/>
			<center><table style="width:70%" class="w3-table w3-centered w3-bordered">
				<thead>
			      <tr>
			        <th><center>ID</center></th>
			        <th><center>NOMBRE</center></th>
			      </tr>
			    </thead>
			    <tbody>
					<tr style="width:80%"  ng-repeat="objeto in objetos | filter:searchText">
						<td><center>{{objeto.id}}</center></td>
						<td><center>{{objeto.nombre}}</center></td>
					</tr>
				</tbody>
			</table></center>
		</div>

</div></center>